package ${package}.web.controller;

import java.util.List;

import javax.annotation.Resource;

import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RestController;

import com.github.pagehelper.PageInfo;
import com.talelife.framework.entity.Page;
import com.talelife.framework.entity.PageQueryParameter;
import com.talelife.framework.util.BeanUtils;
import com.talelife.framework.annotation.ResponseResult;
import com.talelife.framework.controller.BaseController;
import ${package}.web.dto.${className}Dto;
import ${package}.dao.entity.${className};
import ${package}.web.service.${className}Service;
import ${package}.web.vo.${className}Add;
import ${package}.web.vo.${className}Query;
import ${package}.web.vo.${className}Update;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;

/**
 * ${comments}
 * @author lwy
 *
 */
@Api(value="controller")
@RestController
@ResponseResult
@RequestMapping("/web/${classname}")
public class ${className}Controller extends BaseController {
	@Resource
	private ${className}Service ${classname}Service;

	@ApiOperation(value = "分页查询")
	@GetMapping("/page")
	public Page<${className}Dto> page(@Validated PageQueryParameter<${className}Query> pageQuery) {
		${className} ${classname} = BeanUtils.map(pageQuery.getQuery(), ${className}.class);
		PageInfo<${className}> page = ${classname}Service.findListPage(${classname},pageQuery.getPageNum(), pageQuery.getPageSize());
		List<${className}Dto> ${classname}List = BeanUtils.mapAsList(page.getList(), ${className}.class, ${className}Dto.class);
		return new Page<>(page,${classname}List);
	}

	@ApiOperation("查询单个")
	@GetMapping(value="/{id}")
	public ${className}Dto get${className}(@PathVariable @ApiParam(value="用户id") Long id) {
		${className} ${classname} = ${classname}Service.getById(id);
		return BeanUtils.map(${classname}, ${className}Dto.class);
	}

	@ApiOperation(value = "新增")
	@PostMapping("/add")
	public void add(@Validated ${className}Add ${classname}Add) {
		${classname}Service.save(BeanUtils.map(${classname}Add,${className}.class));
	}

	@ApiOperation(value = "修改")
	@PutMapping("/{id}")
	public void update(@PathVariable Long id,${className}Update ${classname}Update) {
		${classname}Service.updateById(BeanUtils.map(${classname}Update,${className}.class));
	}
	
	@ApiOperation(value = "删除")
	@DeleteMapping("/{id}")
	public void delete(@PathVariable @ApiParam(value="id") Long id) {
		${classname}Service.deleteById(id);
	}
}